/* Font */
@font-face {
	font-family: Arita;
	src:
		url('/fonts/ChiFonts/Arita-CZS.woff2') format('woff2'),
		url('/fonts/ChiFonts/Arita-CZS.woff') format('woff');
}

@font-face {
	font-family: HYYakuHei-DEW;
	src:
		url('/fonts/ChiFonts/HYYakuHei-DEW.woff2') format('woff2'),
		url('/fonts/ChiFonts/HYYakuHei-DEW.woff') format('woff');
}

@font-face {
	font-family: HYYakuHei-GEW;
	src:
		url('/fonts/ChiFonts/HYYakuHei-GEW.woff2') format('woff2'),
		url('/fonts/ChiFonts/HYYakuHei-GEW.woff') format('woff');
}

@font-face {
	font-family: NeutraText-Light;
	src:
		url('/fonts/Neutra_Text_Light/NeutraText-Light.woff2') format('woff2'),
		url('/fonts/Neutra_Text_Light/NeutraText-Light.woff') format('woff');
}

/* Real CSS */

.main-footer {
  border: 2px solid #d7d7d7;
  background: #e7e7e7;
  color: #757575;
  font-size: 12px;
  text-align: center;
  padding: 30px 0;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.mentor-overview_container {
  width: 30%;
  padding-bottom: 30%;
  text-align: center;
  display: inline-block;
  margin: 1em;
}

.mentor-overview-picture {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.mentor-overview-text {
  white-space: nowrap;
  overflow: hidden;
}

.mentor-overview-placeholder {
    display: none;
    position: absolute;
    text-align: right;
    font-size: 1em;
}

.mentor-overview-placeholder:hover {
    display: block;
    position: absolute;
    text-align: right;
    font-size: 1em;
}

.news-overview_container {
  width: 45%;
  height: 30%;
  text-align: center;
  display: inline-block;
  margin: 0.5em;
  border: 0.1em #a0a0a0 solid;
}

.news-overview-picture {
  width: 100%;
  height: 70%;
  border-radius: 1px;
}

.news-overview-text {
  white-space: nowrap;
  overflow: hidden;
}

.overview-holder {
  padding-left: 10px;
  text-align: center;
}

.container-sideline {
   border-left: 0.5em solid #001bba !important;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.container-block {
  display: block;
}

.subtitle {
  margin: 0;
}

.footer-container {
  text-align: left;
  border-left: 0.5em solid #a0a0a0 !important;
}

.footer-container > * {
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.news-overview-stamp {
  text-align: right;
  font-size: 1em;
  color: #a0a0a0;
  margin-top: 1em;
}
.news-overview-second{
  margin: 1em;

}

.news-overview-text > * {
  font-size: 1.5vh;
}

.header-cover {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: flex;
  align-items: center;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;
}

.header-cover  strong {
  color: #001bba;

}

.header-cover img {
  opacity: 0.8;
}
