.news-detail-container {
  width: 70%;
  text-align: left;
}

.news-detail-content {
  width: 100%;
  margin-top: 1.5em;
}

.list-news-container {
  height: 7em;
  text-align: left;
  overflow: hidden;
  width: 40%;
  display: inline-flex;
  margin: 1em;
  width: 45%;
  align-items: center;
  justify-content: space-between;
}

.list-news-picture {
  border-radius: 3px;
  height: 5em;
  width: 5em;
  margin: 1em 0em 1em 1em;
  order: 2;
  object-fit: cover;
}

.list-news-text {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  max-width: 70%;
  order:1;
  padding-left: 1em;
}

.list-news-text > .cut-text {
  max-width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 1.5em;
}

.new-container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.list-news-title {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.list-news-subtitle {
  font-size: 0.7em;
  color: #a0a0a0;
}

.vertical-line-half{
  width: 40%;
  border-bottom: .5em solid #001bba;
}

.news-content {
  display: flex;
  align-items: center;
}

.news-sidebar {
  width: 15%;
}

.list-news-container.new-big {
  flex-flow: column;
  height: 200px;
  position: relative;
  align-items: flex-start;
  justify-content: space-around;
  width: 280px;
}

.new-big > .list-news-picture {
  order: 1;
  margin: 0 auto;
  width: 100%;
  height: 40%;
  object-fit: cover;

}

.new-big > .list-news-text {
  order: 2;

}

.author-format {
  margin-top: 1.5em;
  font-size: 0.8em;
}


.article-title {
  margin-top: 0.5em;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.wechat-logo {
  color: white;
  background-color: #09b83e;
}

.weibo-logo {
  color: white;
  background-color: #df2029;
}

.facebook-logo {
  color: white;
  background-color: #3B5998;
}

.icon-sidebar {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-around;
}

.icon-sidebar > * {
  margin-top: 1em;
  margin-right: 1.5em;
  box-shadow: none !important;
}

.icon-sidebar > *:nth-child(1) {
  margin-top: 3em;
}

.loading-news-view {
  text-align: center;
  position: relative;
  height: 100%;
}

.loading-news-view > * {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.header-cover.main-cover {
  background-color: none;
}

.like-button {
  color: #09b83e;
  background-color: white;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  border: 1px solid #09b83e;
  position: fixed;
  right: 15%;
  bottom: 50px;
}

.like-button > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
