.comment-form{
  position: fixed;
  bottom: 50px;
  right: 75px;
}

.form-author-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  margin: 20px;
}

.form-comment-input{
  margin-right: 15px;
}

.comment{
  padding: 10px 20px;
  font-size: 18px;
}

.comment-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  display: block;
}

.comment-author{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  line-height: 200%;
}

.comment-time{
  display: inline-block;
  color: gray;
  line-height: 200%;
}


.comment-content{
  margin-left: 50px;
  padding: 5px 10px;
  background-color: lightgray;
  border-radius: 10px;
  clear: both;
  line-height: 200%;
  width: fit-content;
}
