.ui.right.internal.rail.Filter-container {
  margin: 7em;
}

.bio-display {
  white-space: pre-line;
}

.mentor-img {
  width: 90%;
}

.detail-section {
  padding: 3em 0em;
  text-align: center;
  > .title {
    font-family: HYYakuHei-DEW;
    color: gray;
    display: inline-block;
    padding-bottom: 2em;
    font-size: 2em;
  }
}

.account-partial-container {
  > .list {
    > .item {
      padding: 1em;
      > .content {
        line-height: 200%;
      }
      > .ui.medium.image.profile_pic {
        margin: auto;
        display: grid;
      }
    }
  }
}

.resume-holder {
  width: 80%;
  flex: 1;
  border: 0px;
}

.ui.modal.payment-qr-container {
  display: block;
  position: fixed;
  width: auto;
  left: 50%;
  margin-left: -145px;
  z-index: 1001;
}

.resume-name {
  flex: 0;
  color: white;
  margin-top: 3em;
}

.triangle-open {
  display: block;
}

.Industry-showmore {
  text-align: center;
}

.filter-container {
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 5px;
  padding: 12px;
  display: grid;
  position: absolute;
  left: 0;
  background-color: white;
  width: 400px;
  height: 100%;
}

.mentor-container {
  width: 70%;
  height: 18em;
  left: 50%;
  transform: translate(-50%, 0%);
  border-left: 5px solid #001BB1;
  margin-top: 30px;
  position: relative;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.2);
}

.inner-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.mentor-profile {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > b {
    font-size: 1.5em;
  }
}

.mentor-picture {
  border-radius: 50%;
  height: 9em;
  width: 9em;
  object-fit: cover;
}

input[type=checkbox].reveal-resume {
  &:checked {
    & ~ {
      .resume-section {
        height: 90vh;
      }
    }
  }
}

.resume-section {
  position: relative;
  height: 50vh;
  transition: height 0.25s;
  background: linear-gradient(45deg, rgba(51, 51, 51, 1) 0%, rgba(18, 18, 18, 0.5718662464985995) 36%, rgba(15, 15, 15, 0.6334908963585435) 63%, rgba(80, 80, 80, 1) 100%);
  display: flex;
  flex-flow: column;
  align-items: center;
  > .title {
    flex: 0;
    color: white;
  }
}

.vertical-divider {
  width: 1px;
  height: 80%;
  background-color: rgba(195, 195, 195, 0.2);
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.mentor-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  font-size: 1.2em;
}

.detail-btn {
  margin-left: 50px;
}

.connect-circle {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 50px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #001BB1;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
  > * {
    margin: auto;
    margin: auto;
    font-size: 1.2em;
  }
}

.btm-more {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
}

.ui.top.attached.tabular.menu.top-bar {
  flex: 0 0 65px;
}

.listitem {
  display: block;
  align-items: center;
}

.inner-topbar {
  align-items: center !important;
  justify-content: flex-start;
}

.filter-item {
  display: flex;
  border-radius: 5px;
  border: 1px solid rgba(195, 195, 195, 0.3);
  height: 70%;
  min-width: 9em;
  text-align: left;
  margin: 0.5em;
  position: relative;
  font-family: NeutraText-Light !important;
  align-content: center;
  flex-wrap: wrap;
  > .item-top {
    color: rgba(195, 195, 195, 0.8);
    font-size: 1em;
    margin-left: 5%;
    margin-right: 50%;
    flex: 1;
  }
  > .item-bottom {
    color: #001BB1;
    font-size: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding-right: 1em;
  }
  > .item-central {
    color: rgba(31, 31, 31, 0.8);
    font-size: 1em;
    align-self: center;
  }
  > .delete-button {
    position: absolute;
    right: 0;
    margin-right: 0.3em;
    top: 50%;
    transform: translate(0%, -50%);
    color: rgba(195, 195, 195, 0.8);
  }
}

.table-clean-border {
  border-color: white !important;
  > * {
    border-color: white !important;
  }
}

.filter-item-all {
  justify-content: center;
}

.filter-list {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.content-container {
  overflow-y: hidden;
  position: relative;
  flex: 1;
}

.flex-container {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.button-group {
  flex: 0;
  width: 100%;
}

.blackout {
  background-color: rgba(65, 65, 65, 0.3);
}

.sidebar-container {
  display: flex !important;
}

.header-container {
  margin: 1em;
  text-align: left;
}

.section-header {
  color: rgba(65, 65, 65, 0.3);
  font-size: 20px;
}

.section-container {
  display: flex;
  flex-flow: column;
  padding: 1em;
  line-height: 1.2em;
  > * {
    &:not(.section-header) {
      padding: 0.5em 0em 0.5em 0em;
      text-align: left;
      font-size: 20px;
    }
    line-height: 1.3;
  }
}

.menu-container {
  overflow-y: scroll;
  flex: 1 !important;
  font-family: NeutraText-Light !important;
}

.ui.table {
  tr {
    td {
      border: none;
      padding: 0.5em;
    }
  }
}

.mentor-background-image {
  width: 100%;
  min-height: 600px;
  padding: 3em 0em;
  object-fit: cover;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.70);
  background-blend-mode: overlay;
}

.mentor-name {
  > .chinese-top {
    border-bottom: 1.5px #001BB1 solid;
    display: inline-block;
    padding-bottom: 0.5em;
    font-size: 3em;
  }
  > .App-subtitle {
    padding-top: 0.5em;
    font-size: 1em;
  }
  > .small-bio {
    font-size: 1.1em;
    line-height: 1.5;
  }
}

.mentor-detail-info-container {
  background: linear-gradient(45deg, rgba(200, 200, 200, 1) 0%, rgba(250, 250, 255, 0.3925945378151261) 36%, rgba(246, 246, 246, 1) 74%, rgba(219, 219, 219, 1) 100%);
  padding: 5em 10%;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  > .item {
    display: flex;
    align-items: center;
    flex-flow: column;
    flex: 0;
    min-width: 20%;
    min-height: 130px;
    justify-content: space-between;
  }
}

.detail-item {
  > .title {
    font-family: HYYakuHei-DEW;
    color: gray;
    font-size: 1.5em;
  }
  > .subtitle {
    font-size: 1em;
    padding: 0em 2em;
  }
}

.mentor-service-overview {
  padding: 5em 10%;
  text-align: center;
  background: linear-gradient(45deg, rgba(200, 200, 200, 1) 0%, rgba(250, 250, 255, 0.3925945378151261) 36%, rgba(246, 246, 246, 1) 74%, rgba(219, 219, 219, 1) 100%);
  > .title {
    font-family: HYYakuHei-DEW;
    color: gray;
    display: inline-block;
    padding-bottom: 2em;
    font-size: 2em;
  }
}

.mentor-service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0em 0em 0em;
  flex-wrap: wrap;
  > .service-border {
    width: 230px;
    height: 350px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 40%, 0.75);
    margin: 0em 1.5em;
    position: relative;
    background-blend-mode: overlay;
  }
}

.ui.button.buy-button-ani {
  background-color: white;
  color: #a0a0a0;
  font-family: HYYakuHei-GEW;
  width: 100%;
}

.buy-button {
  width: 90%;
}

.service-border {
  > .service-item {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    transition: opacity .35s, transform .35s;
  }
}

.service-item {
  &::before {
    position: absolute;
    content: '';
    opacity: 0;
    top: 20px;
    right: 10px;
    bottom: 20px;
    left: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scale(0, 1);
    transform-origin: 0 0;
    transition: opacity .35s, transform .35s;
  }
  &::after {
    position: absolute;
    content: '';
    opacity: 0;
    top: 10px;
    right: 20px;
    bottom: 10px;
    left: 20px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: scale(1, 0);
    transform-origin: 100% 0;
    transition: opacity .35s, transform .35s;
  }
  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
    &::after {
      opacity: 1;
      transform: scale(1);
    }
    > .service-title {
      transform: translate3d(0, 30px, 0);
    }
    > .service-description {
      opacity: 1;
    }
  }
  > .service-description {
    opacity: 0;
    transition: opacity .35s;
  }
  > .buy-button {
    z-index: 3;
  }
}

.service-title {
  transition: transform .35s;
  > .service-name {
    font-family: HYYakuHei-GEW;
    font-size: 1.5em;
    padding-bottom: 0.3em;
  }
  > .service-price {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
  }
}

.title {
  > .title-icon {
    margin: 0 auto;
    display: block;
    padding-bottom: 1.5em;
  }
}

.mentor-service-overview.detail-section {
  margin-top: 0;
}

.table-clean-row {
  > td {
    &:nth-child(2) {
      padding-left: 1em;
    }
  }
}

.para-large {
  text-align: center;
  font-size: 2em;
  padding: 3em 0em;
  background: linear-gradient(45deg, rgba(200, 200, 200, 1) 0%, rgba(250, 250, 255, 0.3925945378151261) 36%, rgba(246, 246, 246, 1) 74%, rgba(219, 219, 219, 1) 100%);
}

.para-medium {
  text-align: center;
  font-size: 1.3em;
}

.ui.basic.table {
  tbody {
    tr {
      td {
        .title-icon {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .mentor-detail-info-container {
    padding: 5em 5%;
  }

  .mentor-container {
    width: 90%;
    height: 17em;
  }

  .mentor-profile {
    > b {
      font-size: 1.2em;
    }
  }

  .mentor-picture {
    border-radius: 50%;
    height: 8em;
    width: 8em;
    object-fit: cover;
  }

  .ui.table {
    tr {
      td {
        border: none;
        padding: 0.1em;
      }
    }
  }

  .mentor-text {
    font-size: 0.9em;
  }

  .connect-circle {
    height: 40px;
    width: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    > * {
      font-size: 1em;
    }
  }

  .service-border {
    width: 100%;
    margin: 1.5em;
  }

  .resume-holder {
    width: 90%;
    flex: 1;
    border: 0px;
  }
}

@media screen and (max-width: 767px) {
  .ui.basic.table {
    tbody {
      tr {
        border-bottom: none !important;
        box-shadow: none !important;
        padding-top: 0;
        padding-bottom: 0.5em;
        td {
          &:nth-child(1) {
            display: none !important;
          }
          .title-icon {
            height: auto;
            display: inline-block;
            margin-right: 1em;
          }
        }
      }
    }
  }

  .resume-holder {
    width: 100%;
    flex: 1;
    border: 0px;
  }

  .resume-section {
    height: 60vh;
  }

  .inner-topbar {
    align-items: center !important;
    justify-content: center;
  }

  .service-border {
    width: 100% !important;
    padding-bottom: 100%;
    margin: 1em 0em !important;
  }

  .service-description {
    opacity: 1;
  }

  .mentor-service-container {
    flex-flow: column;
    padding: 2em 0em 0em 0em;
  }

  .mentor-service-overview {
    > .title {
      padding-bottom: 1.5em;
    }
  }

  .mentor-container {
    width: 100%;
    height: 13em;
  }

  .mentor-profile {
    > b {
      font-size: 1em;
    }
  }

  .mentor-picture {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    object-fit: cover;
  }

  .ui.table {
    tr {
      td {
        border: none;
        padding: 0.1em;
      }
    }
  }

  .mentor-text {
    font-size: 0.9em;
    margin-left: 0px;
  }

  .connect-circle {
    height: 40px;
    width: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    > * {
      font-size: 1em;
    }
  }

  .btm-more {
    display: none;
  }

  .vertical-divider {
    display: none;
  }

  .table-clean-row {
    > td {
      &:nth-child(1) {
        display: none;
      }
    }
  }

  .filter-item {
    height: 70%;
    min-width: 7em;
    margin: .2em;
  }

  .ui.top.attached.tabular.menu.top-bar {
    flex: 0 0 60px;
  }

  .container {
    > .item {
      min-width: 45%;
    }
  }

  .mentor-detail-info-container {
    padding: 5em calc(2% - 2em);
    flex-wrap: wrap;
    flex-wrap: wrap;
    > .item {
      min-width: 40%;
      margin: 1em 0em;
    }
  }

  .service-item {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
    &::after {
      opacity: 1;
      transform: scale(1);
    }
    > .service-title {
      transform: translate3d(0, 30px, 0);
    }
    > .service-description {
      opacity: 1;
    }
  }
}
