.ui.right.internal.rail.Filter-container {
  margin: 7em;
}

.bio-display {
  white-space: pre-line;
}

.mentor-img {
  width: 90%;
}

.mentor-detail-container {

}

.detail-section {
  padding: 3em 0em;
  text-align: center;
}

.account-partial-container > .list > .item {
  padding: 1em;
}

.account-partial-container > .list > .item > .content{
  line-height: 200%;
}

.account-partial-container > .list > .item > .ui.medium.image.profile_pic {
  margin: auto;
  display: grid;
}

.resume-holder {
  width: 80%;
  flex: 1;
  border: 0px;
}

.ui.modal.payment-qr-container {
  display: block;
  position: fixed;
  width: auto;
  left: 50%;
  margin-left: -145px;
  z-index: 1001;
}

.resume-name {
  flex: 0;
  color: white;
  margin-top: 3em;
}

.triangle-open {
  display: block;
}

.Industry-showmore {
  text-align: center;
}

.filter-container {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;
  padding: 12px;
  display: grid;
}

.mentor-container {
  width: 70%;
  height: 18em;
  left: 50%;
  transform: translate(-50%, 0%);
  border-left: 5px solid #001BB1;
  margin-top: 30px;
  position: relative;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(195, 195, 195, 0.2);

}

.inner-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.mentor-profile {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mentor-profile > b {
  font-size: 1.5em;
}

.mentor-picture {
  border-radius: 50%;
  height: 9em;
  width: 9em;
  object-fit: cover;
}


.resume-section {
  position: relative;
  height: 50vh;
  transition: height 0.25s;
  background: linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(18,18,18,0.5718662464985995) 36%, rgba(15,15,15,0.6334908963585435) 63%, rgba(80,80,80,1) 100%);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.vertical-divider {
  width: 1px;
  height: 80%;
  background-color: rgba(195, 195, 195, 0.2);
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.mentor-text {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  font-size: 1.2em;
  flex: 1 0;
  .ui.basic.table {
    tbody {
      tr {
        &:nth-child(1) {
          width: 10%;
        }
        &:nth-child(2) {
          width: 90%;
        }
      }

    }

  }
}

.detail-btn {
  margin-left: 50px;
}

.connect-circle {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 50px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #001BB1;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
}

.connect-circle > * {
  margin: auto;
  margin: auto;
  /* margin-top: 1em; */
  font-size: 1.2em;

}

.btm-more {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
}

.ui.top.attached.tabular.menu.top-bar {

  flex: 0 0 65px;
}

.listitem {
  display: block;
  align-items: center;
}

.inner-topbar {
  align-items: center !important;
  justify-content: flex-start;
}

.filter-item {
  display: flex;
  border-radius: 5px;

  border: 1px solid rgba(195, 195, 195, 0.3);
  height: 70%;
  min-width: 9em;
  text-align: left;
  margin: 0.5em;
  position: relative;
  font-family: NeutraText-Light !important;
  align-content: center;
  flex-wrap: wrap;
}

.table-clean-border, .table-clean-border > * {
  border-color: white !important;
}
.filter-item-all {
  justify-content: center;
}


.filter-item > .item-top {
  color: rgba(195, 195, 195, 0.8);
  font-size: 1em;
  margin-left: 5%;
  margin-right: 50%;
  flex: 1;
}

.filter-item > .item-bottom {
  color: #001BB1;
  font-size: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5%;
  padding-right: 1em;

}

.title-icon {
  height: 15px;
}

.filter-item > .item-central {
  color: rgba(31, 31, 31, 0.8);
  font-size: 1em;
  align-self: center;
}

.filter-item > .delete-button {
  position: absolute;
  right: 0;
  margin-right: 0.5em;
  top: 50%;
  transform: translate(0%, -50%);
  color: rgba(195, 195, 195, 0.8);
}

.filter-list {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.filter-expand {
  position: fixed;
  padding: 1em;
  z-index: 900;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  top: 10em;
  min-width: 250px;
}
.filter-container {
  position: absolute;
  left: 0;
  background-color: white;
  width: 400px;
  height: 100%;
}

.content-container {
  overflow-y: hidden;
  position: relative;
  flex: 1;
}

.flex-container {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.button-group {
  flex: 0;
  width: 100%;
}

.blackout {
  background-color: rgba(65, 65, 65, 0.3);
}

.sidebar-container {
  display: flex !important;
}

.header-container {
  margin: 1em;
  text-align: left;
}

.section-header {
  color: rgba(65, 65, 65, 0.3);
  font-size: 20px;

}

.section-container {
  display: flex;
  flex-flow: column;
  padding: 1em;
  line-height: 1.2em;
}

.section-container > *:not(.section-header) {
  padding: 0.5em 0em 0.5em 0em;
  text-align: left;
  font-size: 20px;
}

.section-container> * {
  line-height: 1.3;
}

.menu-container {
  overflow-y: scroll;
  flex: 1 !important;
  font-family: NeutraText-Light !important;
}

.ui.table tr td {
  border: none;
  padding: 0.5em;
}
.mentor-background-image-container {
  width: 100%;
  min-height: 600px;

  object-fit: cover;
  display: flex;
  align-items: center;
  position: relative;
}
.mentor-background-image {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: hsla(0, 0%, 35%, 0.7);
  background-blend-mode: overlay;
}

.mentor-sep-container {
  display:flex;
  flex-flow: column;
  color: white;
  z-index: 2;
  width: 100%;
  min-height: inherit;
  > .header {
    display: flex;
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 8em;
    padding-right: 8em;
  }
  .subheader {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(239,78,62,1) 100%);
    display: flex;
    padding-top: 2em;
    padding-bottom: 5em;
    flex: 1;
  }
  .small-bio {
    padding: 1em;
    background: hsla(0, 0%, 91%, 0.22);
    color: white;
    margin-right: 8rem;
    font-size: 1.3em;
    line-height: initial;
  }
}


.subheader {
  .divider {
  background: linear-gradient(270deg, hsla(0, 0%, 91%, 0.22), rgba(255,255,255,1) 100%);
  height: 3px;
  left: 0;
  right: 0;
  position: absolute;
}
}

.mentor-name {
  padding-right: 4em;
  position: relative;
  margin-left: 8em;

}


.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background: #FFF;
  position: absolute;
  top: calc(50% - 1.5px);
}



.border-navi {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  .item {
  border-radius: 50%;
  background-color: #FFF;
  color: rgba(239,78,62,1);
  height: 30px;
  width: 30px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s, transform 0.2s, background-color 0.2s, border 0.2s;
  transform-origin: 0,0;
  border: none;
}

  > .item:hover {
    background-color: rgba(239,78,62,1);
    color: #fff;
    border: 5px white solid;
    transform: scale(1.5);
  }
  .navi-title {
    color: white;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s, transform 0.2s;
    top: 0px;
    white-space: nowrap;
    display: inline-block;
  }

  .icon {
    margin: 0 auto;
    margin-bottom: 0.3em;
  }

}


.item:hover {
  .navi-title {
    opacity: 1;
    transform: translate(0,-30px);
  }
}


.border-navi .item:hover .icon {
  transform: scale(0.67);
}

.mentor-profile-border {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(239,78,62,1) 100%);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4em;
  > img {
    height: 85%;
    width: 85%;
    border-radius: 50%;
      object-fit: cover;
  }
}



.mentor-name {
  > .chinese-top {
    display: inline-block;
    padding-bottom: 0.5em;
    font-size: 3em;
    min-width: calc(180px + 4rem);
    max-width: calc(180px + 4rem);
  }
  > .App-subtitle {
    padding-top: 0.5em;
    font-size: 1em;
  }
  > .small-bio {
    font-size: 1.1em;
    line-height: 1.5;
    white-space: pre-wrap;
  }
}



.mentor-detail-info-container {
  background: linear-gradient(45deg, rgba(200,200,200,1) 0%, rgba(250,250,255,0.3925945378151261) 36%, rgba(246,246,246,1) 74%, rgba(219,219,219,1) 100%);
  padding: 5em 10%;
  text-align: center;
  display: flex;

  flex-flow: row;
  justify-content: center;
  align-items: center;
  > .item {
    display: inline-block;
    align-items: center;
    flex-flow: column;
    flex: 0;
    min-width: 20%;
    min-height: 130px;
    justify-content: space-between;
  }

}

.ellipsis {
    bottom: 0;
    position: absolute;
    right: 0;
}

.detail-item {
  > .title {
    font-family: HYYakuHei-DEW;
    color: gray;

    font-size: 1.5em;
  }

  > .subtitle {

  font-size: 1em;
  padding: 0em 2em;
  padding-top: 1em;

  }
}

.mentor-service-overview {
  padding: 5em 10%;
  text-align: center;
  background: linear-gradient(45deg, rgba(200,200,200,1) 0%, rgba(250,250,255,0.3925945378151261) 36%, rgba(246,246,246,1) 74%, rgba(219,219,219,1) 100%);
}

.mentor-service-overview > .title {
  font-family: HYYakuHei-DEW;
  color: gray;
  display: inline-block;
  padding-bottom: 2em;
  font-size: 2em;

}

.detail-section > .title {
  font-family: HYYakuHei-DEW;
  color: gray;
  display: inline-block;
  padding-bottom: 2em;
  font-size: 2em;
}
.mentor-service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0em 0em 0em;
  flex-wrap: wrap;

  > .service-border {
    width: 260px;
    height: 380px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 40%, 0.75);
    margin: 0em 1.5em;
    position: relative;
    background-blend-mode: overlay;
    margin-bottom: 3em;
    color: white;
  }

}

.ui.button.buy-button-ani {
  background-color: white;
  color: #a0a0a0;
  font-family: HYYakuHei-GEW;
  width: 100%;
}

.buy-button {
  width: 90%;
  transition: transform .35s;
}


.service-border {
  > .service-item {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    transition: opacity .35s, transform .35s;
  }
}

.service-item {
  &::before {
    position: absolute;
    content: '';
    opacity: 0;
    top: 20px;
    right: 10px;
    bottom: 20px;
    left: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scale(0, 1);
    transform-origin: 0 0;
    transition: opacity .35s, transform .35s;
  }
  &::after {
    position: absolute;
    content: '';
    opacity: 0;
    top: 10px;
    right: 20px;
    bottom: 10px;
    left: 20px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: scale(1, 0);
    transform-origin: 100% 0;
    transition: opacity .35s, transform .35s;
  }
  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
    &::after {
      opacity: 1;
      transform: scale(1);
    }
    > .service-title {
      transform: translate3d(0, 30px, 0);
      opacity: 0;
    }
    > .service-description {
      opacity: 1;
      transform: translate3d(0, 30px, 0);
    }

    > .buy-button {
      transform: translate3d(0, 30px, 0);
    }
  }
  > .service-description {
    opacity: 0;
    transition: opacity .35s, transform .35s;
    margin-top: 1em;
    position: absolute;
    top: 0;
    padding: 1em 2em;
  }
  > .buy-button {
    z-index: 3;

    transition: transform .35s;

  }


}

.service-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background-blend-mode: overlay;

}


.service-title {
  transition: transform .35s, opacity .35s;
}

.service-title > .service-name {
  font-family: HYYakuHei-GEW;
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.service-title> .service-price {
  font-weight: bold;
  font-size: 1.2em;
  color: white;
}

.title > .title-icon {
  height: auto;
  margin: 0 auto;
  display: block;
  padding-bottom: 1.5em;
}

.mentor-service-overview.detail-section {
  margin-top: 0;
}

.table-clean-row > td:nth-child(2) {
  padding-left: 1em;
}

.resume-section > .title {
  flex: 0;
  color: white;
}

.para-large {
  text-align: center;
  font-size: 2em;
  padding: 3em 0em;
  background: linear-gradient(45deg, rgba(200,200,200,1) 0%, rgba(250,250,255,0.3925945378151261) 36%, rgba(246,246,246,1) 74%, rgba(219,219,219,1) 100%);
}

.para-medium {
  text-align: center;
  font-size: 1.3em;
}



@media screen and (max-width: 991px) {

  .mentor-detail-info-container {
    padding: 5em 5%;

  }


  .mentor-container {
    width: 90%;
    height: 17em;
  }
  .mentor-profile > b {
    font-size: 1.2em;
  }

  .mentor-picture {
    border-radius: 50%;
    height: 8em;
    width: 8em;
    object-fit: cover;
  }

  .ui.table tr td {
    border: none;
    padding: 0.1em;
  }

  .mentor-text {
    font-size: 0.9em;
  }

  .connect-circle {
    height: 40px;
    width: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

  }

  .connect-circle > * {
    font-size: 1em;
  }
  .service-border {
    width: 100%;
    margin: 1.5em;
  }
  .resume-holder {
    width: 90%;
    flex: 1;
    border: 0px;
  }
}

@media screen and (max-width: 767px) {

  .mentor-sep-container {
    > .header {
    display: flex;
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  }


  .ui.basic.table {
    tbody {
      tr {
        border-bottom: none !important;
        box-shadow: none !important;
        padding-top: 0;
        padding-bottom: 0.5em;
        td {

          .title-icon {
            height: auto;
            display: inline-block;
            margin-right: 1em;
            height: 20px;
          }
        }
      }

    }

  }
  .resume-holder {
    width: 100%;
    flex: 1;
    border: 0px;
  }

  .resume-section {
    height: 60vh;
  }

  .inner-topbar {
    align-items: center !important;
    justify-content: center;
  }

  .service-border {
    width: 100% !important;
    padding-bottom: 100%;
    margin: 1em 0em !important;
  }

  .service-description {
    opacity: 1;
    position: relative !important;
  }

  .mentor-service-container {
    flex-flow: column;
    padding: 2em 0em 0em 0em;


  }

  .mentor-service-overview > .title {
    padding-bottom:  1.5em;
  }

  .mentor-container {
    width: 100%;
    height: 13em;
  }
  .mentor-profile > b {
    font-size: 1em;
  }

  .mentor-picture {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    object-fit: cover;
  }

  .ui.table tr td {
    border: none;
    padding: 0.1em;
  }

  .mentor-text {
    font-size: 0.9em;
    margin-left: 0px;
  }

  .connect-circle {
    height: 40px;
    width: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

  }

  .connect-circle > * {
    font-size: 1em;
  }

  .btm-more {
    display: none;
  }
  .vertical-divider {
    display: none;
  }

  .table-clean-row > td:nth-child(1) {
    display: none;
  }

  .filter-item {
    height: 70%;
    min-width: 7em;
    margin: .2em;
  }

  .ui.top.attached.tabular.menu.top-bar {
    flex: 0 0 60px;
  }

  .container > .item {
    min-width: 45%;
  }
  .mentor-detail-info-container {
    padding: 5em calc(2% - 2em);
    flex-wrap: wrap;

    flex-wrap: wrap;
    > .item {
      min-width: 40%;
      margin: 1em 0em;
      display: inline-block;
    }

  }

  .service-item::before, .service-item::after {
    opacity: 1;
    transform: scale(1);
  }

  .service-item > .service-title {
    transform: translate3d(0,30px,0);
  }
  .service-item > .service-description {
    opacity: 1;
  }

  .mentor-detail-info-container {
    flex-wrap: wrap;
  }
  .mentor-detail-info-container>.item  {
    min-width: 40%;
    margin: 1em 0em;
  }

  .border-navi {
    display: none;
  }

  .subheader {
    flex-flow: column;
  }
  .mentor-sep-container .small-bio {
    margin: 2em 1em 1em 1em;
  }

  .mentor-name {
    margin: 0 auto;
  }

  .mentor-profile-border {
    margin: 0 auto;
  }
}
