.ui.left.internal.rail.account-nav-container {
  margin: 7em auto;
}

.account-partial-container {
  margin: 3em 3em;
}

.input-file {
  display: none;
}

.ui.modal.add-service-container {
  display: block;
  position: fixed;
  z-index: 1001;
}

.add-service-form-container {
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 30px;
}
