/* Font */
@font-face {
	font-family: Arita;
	src:
		url('/fonts/ChiFonts/Arita-CZS.woff2') format('woff2'),
		url('/fonts/ChiFonts/Arita-CZS.woff') format('woff');
}

@font-face {
	font-family: HYYakuHei-DEW;
	src:
		url('/fonts/ChiFonts/HYYakuHei-DEW.woff2') format('woff2'),
		url('/fonts/ChiFonts/HYYakuHei-DEW.woff') format('woff');
}

@font-face {
	font-family: HYYakuHei-GEW;
	src:
		url('/fonts/ChiFonts/HYYakuHei-GEW.woff2') format('woff2'),
		url('/fonts/ChiFonts/HYYakuHei-GEW.woff') format('woff');
}

@font-face {
	font-family: NeutraText-Light;
	src:
		url('/fonts/Neutra_Text_Light/NeutraText-Light.woff2') format('woff2'),
		url('/fonts/Neutra_Text_Light/NeutraText-Light.woff') format('woff');
}

/* */

.App, .App * {
  text-align: center;
  font-family: NeutraText-Light;

}

.app-flex {
	display: flex;
	flex-direction: column;
	height: 100%;
}

body {
  font-family: NeutraText-Light;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #f1f2f2;
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.Nav-item {
  text-align: center;
  display: block;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chinese-top {
  font-family: Arita;
}

.nav-list {
	display: flex;
	flex: 1;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	align-items: center;
	flex: 0 0 75px;
	height: 75px;
	display: flex;
	background-color: white;
	border-bottom: 1px solid #a0a0a0;
	justify-content: space-between;
	z-index: 15;
}

.navbar > * {
	padding: 0em 1em;
  height: 100%;
	margin: 1em;
}

.logo-item > img {
	margin-right: 1em;
}

.logo-item > b {
	font-size: 1.3em;
}

.nav-list > .item {
	margin: 0em 1em;
}



.item {
	display: flex;
	align-items: center;
	color: black;
}

.item a {
	color: black !important;
}

.site-content {
	padding-top: 75px;
	height: 100%;
}

.Nav-item {
	font-size: 1.1em;

}

.navbar > a {
	color: black;
}

.navbar .menu-icon {
	display: none;
}

#reveal-menu {
	display: none;
}

@media screen and (max-width: 767px) {
	input[type=checkbox] {
  display: none;
	}

	input[type=checkbox]:checked ~ .navbar .bread-top {
	  transform:
	    translateX(2px) rotate(45deg);
	}

	input[type=checkbox]:checked ~ .navbar .bread-bottom {
	  transform: translateY(4px) rotate(-45deg);
	}

	input[type=checkbox]:checked ~ .navbar .nav-list {
		height: auto;
		opacity: 1;
		visibility: visible;
	}

	input[type=checkbox]:checked ~ .site-content {
	}

	input[type=checkbox]:checked ~ .navbar{
		height: 80%;

	}

	.bread {
	  position: absolute;
	  width: 17px;
	  height: 2px;
	  background-color: black;
	  display: block;
	  transform: rotate(0);
	  transition: transform 0.25s 0.25s;
	  transform-origin: 0% 0%;
	  border-radius: 1px;
	}

	.navbar>*:not(.nav-list) {
    padding: 0 1em;
    height: 65px;
    margin: 0em 1em;
		position: relative;
	}

	.menu-icon {
	  cursor:pointer;
	  position: absolute;
	  height: 50px;
	  width: 50px;
	  display: flex !important;
		left: 25px;
		bottom: 2px;
	  justify-content: center;


	}

	.bread-top {
	  top: 20px;
	}

	.bread-bottom {
	  bottom: 20px;
	}


	.nav-list {
		flex-flow: column;
		display: flex;
		visibility: hidden;
		background-color: white;
		height: 80%;
		opacity: 0;
		position: absolute;
		top: 65px;
		width: 90%;
		transition: opacity 0.5s, visibility 0.5s;
	}


	.logo-item > b {
		display: none;
	}

	.navbar.opened > .item.title {
		display: none;
	}


	.Nav-item {
		display: inline-flex;

	}

	.nav-list > .item {
		margin: 0.5em 0em;
		color: gray
	}
	.item.active-custom {
		color: black;
	}
	.App-subtitle {
		order: 2;

	}
	.chinese-top {
		order: 1;
		margin-right: 0.5em;
	}

	.item > .chinese-top {
		font-size: 1.5em;
		color: gray;
		margin-right: 0;
	}

	.navbar {
		flex: 0 0 65px;
		height: 65px;
		transition: height 0.5s;
		align-items: flex-start;
	}
	.site-content {
		padding-top: 65px;

	}
}
